/*{
    margin:0;
    padding:0;
    
    border:2px dashed black;
}

body {
    font-family:sans-serif;
}

.title {
    text-align: center;
    height:100px;
    font-size: 4rem;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

nav {
    display:flex;
    justify-content:space-between;
    padding:10px;
}

.nav-group {
    display: flex;
    
}

.nav-element {
    margin:10px;
    padding:10px;
}

.hero {
    height:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    background-image: url("mountain.png");
    background-size: cover;
    background-position:center center;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
*/
.row{
    display:flex;
    flex-wrap:wrap;
}

.mine {
    border:2px dotted red;
}