/*
* {
    background-image: url("pics/over-bluff-beach.png");
    
} 
*/
body {
  padding: 0;
  margin: 0;
/*  background-image: url("../pics/over-bluff-beach.png"); */
  background-size: cover;
  background-color: #90C3D4;

    
}

.nav {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-bottom: 3px solid rgb(204,204,204)
    overflow: hidden;
    
}

 
ul.nav {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    border-bottom: 1px dashed #000;
    text-align: center;
}
.nav li {
     float: left;
    
}
.nav a {
    width: 12em;
    display: block;
    border: 3px solid rgb(204,204,204);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    margin-right: 1px;
    background-color: rgb(95,95,95);
    background-image: -webkit-linear-gradient(rgb(175,175,175), rgb(95,95,95);
    background-image: -moz-linear-gradient(rgb(175,175,175), rgb(95,95,95);
    background-image: -o-linear-gradient(rgb(175,175,175), rgb(95,95,95);
    background-image: linear-gradient(rgb(175,175,175), rgb(95,95,95);
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
/* 
    border: 1px dashed #000;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
*/
}
.container { 
    width: 90%; 
    height: 90%; 
    overflow: hidden; 
    
}


footer {
    padding: 0;
    margin: 0;
    color: red;
}


